.zp-video-admin{
    .login-container {
        border-radius: 2px;
        display: block;
        margin: 20px 14px;
        position: relative;
        z-index: 999;
        box-shadow: 2px 3px 5px #d8d8d8;
    }
    .login-header {
        background: #5bcec6;
        display: block;
        overflow: hidden;
        padding: 20px 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            margin-bottom: 15px;
        }
    }
    .login-form {
        background: #fff;
        display: block;
        padding: 30px 20px;
        position: relative;
        label{
            font-size: 15px;
            color: #777;
            line-height: 1.4;   
        }
    }
    .login-text {
        color: #777;
        display: block;
        font-size: 15px;
        font-style: italic;
        margin-bottom: 25px;
        position: relative;
        text-align: center;
        &:before{
            background: #e4e4e4;
            content: "";
            display: block;
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
        }
    }
    .login-text {
        span {
            background: #fff;
            display: inline-block;
            padding: 0 20px;
            position: relative;
        }
    }
}
@media (min-width: 480px){
    .zp-video-admin{
        .login-container {
            width: 380px;
            margin: 80px auto;
        }
        .login-form {
            padding: 30px;
        }
    } 
}

