/**
 * System Name: Zapport Video Storage
 *
 * Author: Seo Web Developer Team
 * 
 * Description: This system will be the storage app for all the 
 * videos that might be create/make in the near future.
 *
 * Text Domain: zapport-videos
 * 
 * Tags: upload-videos, elegant-style, bootstrap
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Content
	## Videos
# Media
	## Media Query

----------------------------------------------------------------*/

/* Navigation */

/*--------------------------------------------------------------
## Naviation top
--------------------------------------------------------------*/

.top-navbar img {
  width: 140px;
}

/*--------------------------------------------------------------
## Naviation sidebar
--------------------------------------------------------------*/

#zp-admin-menu-bg,
#zp-admin-menu-wrap {
  background-color: #00988D;
  overflow: hidden;
  width: 240px;
}

#zp-admin-menu-bg {
  position: fixed;
  top: 0;
  bottom: -120px;
  z-index: 1;
}

#zp-admin-menu-wrap {
  position: relative;
  float: left;
  z-index: 1000;
}

#zp-admin-menu-wrap .nav {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#zp-admin-menu-wrap .nav .show .submenu {
  background-color: #004742;
}

#zp-admin-menu-wrap .nav-item {
  position: relative;
}

#zp-admin-menu-wrap .nav-item .nav-link {
  position: relative;
  color: #fff;
}

#zp-admin-menu-wrap .nav-item .nav-link.active,
#zp-admin-menu-wrap .nav-item .nav-link:active,
#zp-admin-menu-wrap .nav-item .nav-link:focus,
#zp-admin-menu-wrap .nav-item .nav-link:hover {
  background: #007c73;
  color: #fff;
}

#zp-admin-menu-wrap .nav-item .nav-link.active:before,
#zp-admin-menu-wrap .nav-item .nav-link:active:before,
#zp-admin-menu-wrap .nav-item .nav-link:focus:before,
#zp-admin-menu-wrap .nav-item .nav-link:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 4px solid #f1f1f1;
  right: 0;
  top: 0px;
}

#zp-admin-menu-wrap .submenu {
  background-color: #107d76;
  color: #fff;
}

#zp-admin-menu-wrap .submenu .nav-link.active,
#zp-admin-menu-wrap .submenu .nav-link:active,
#zp-admin-menu-wrap .submenu .nav-link:focus,
#zp-admin-menu-wrap .submenu .nav-link:hover {
  background-color: transparent;
  color: #00efdd;
}

#zp-admin-menu-wrap .zp-user-info {
  height: 80px;
  padding: 10px 15px 10px 15px;
  position: relative;
  white-space: nowrap;
}

#zp-admin-menu-wrap .zp-image {
  display: inline-block;
  float: left;
  margin-right: 12px;
  margin-top: 6px;
}

#zp-admin-menu-wrap img.img-circle {
  border-radius: 50%;
  vertical-align: bottom !important;
}

#zp-admin-menu-wrap .zp-info-wrap {
  color: #fff;
  display: block;
  margin-left: 60px;
  position: relative;
  top: 12px;
}

#zp-admin-menu-wrap .name,
#zp-admin-menu-wrap .position {
  margin: 0;
  max-width: 200px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#zp-admin-menu-wrap .name {
  font-size: 14px;
}

#zp-admin-menu-wrap .position {
  font-size: 12px;
}

.sticky-menu #zp-admin-menu-wrap {
  position: fixed;
}

.zp-nav-closed {
  display: none;
  position: absolute;
  right: 5px;
  z-index: 15;
}

.zp-nav-closed i {
  display: inline;
  line-height: 1.5;
  margin-right: 5px;
  text-align: center;
  width: 25px;
}

/**Mobile-hide-show-btn*/

.zp-navbar-show {
  padding: 0.25rem 0.75rem;
  font-size: 1.125rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-light .zp-navbar-show {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.zp-nav-closed {
  display: none;
  position: absolute;
  right: 5px;
  z-index: 15;
}

.zp-nav-closed i {
  font-size: 28px;
  color: #fff;
}

/* Content */

/*--------------------------------------------------------------
## Primary Content
--------------------------------------------------------------*/

.zp-video-admin {
  height: auto;
  min-height: 100%;
  position: relative;
  width: 100%;
}

#zp_content_wrap {
  height: 100%;
}

#zp_content_wrap .zp-primary-site {
  padding-left: 20px;
}

#zp_content_wrap .zp-primary-wrap {
  margin: 10px 20px 0 2px;
}

#zp_content_wrap,
#zp_footer_wrap {
  margin-left: 240px;
}

.heading-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 24px;
}

.row-actions {
  color: #ddd;
  font-size: 12px;
  padding: 2px 0 0;
  position: relative;
  left: -9999em;
}

.row-actions.visible {
  position: static;
}

.row-actions a,
.row-actions span,
.row-actions button {
  font-size: 12px;
  padding: 0;
}

.form-hide {
  display: none;
}

.zp-rounded {
  border-radius: 50px;
}

.text-zp {
  color: #00988d;
}

/*--------------------------------------------------------------
## Admin Media
--------------------------------------------------------------*/

.media-attach-tools {
  position: relative;
  margin-bottom: 30px;
}

.media-attach-tools .media-form-wrap {
  border: 4px dashed #cbcbcb;
  margin: 0.5em 0em 0.7em;
  padding-bottom: 2.75em;
  padding-top: 2.75em;
  min-height: 230px;
}

.media-frame {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.media-frame.hide-menu .media-frame-content,
.media-frame.hide-menu .media-frame-router,
.media-frame.hide-menu .media-frame-title,
.media-frame.hide-menu .media-frame-toolbar {
  left: 0;
}

.media-frame.mode-grid {
  position: static;
}

.media-frame.mode-grid .attachment-browser .attachment,
.media-frame.mode-grid .media-frame-content,
.media-frame.mode-grid .uploader-inline-content {
  position: static;
}

.media-frame.mode-grid .media-frame-content {
  background-color: transparent;
  border: none;
}

.media-frame.mode-grid .attachment-browser {
  padding: 0;
}

.media-frame .attachment-browser {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.media-frame-content {
  position: absolute;
  top: 84px;
  left: 200px;
  right: 0;
  bottom: 61px;
  height: auto;
  margin: 0;
  width: auto;
  overflow: auto;
  background: #fff;
  border-top: 1px solid #d1d1d1;
}

.attachment-browser .attachment {
  padding: 2px 8px 8px;
}

.attachment-browser .attachment,
.attachment-browser.hide-sidebar .uploader-inline {
  position: absolute;
  top: 50px;
  left: 0;
  right: 300px;
  bottom: 0;
  overflow: auto;
  outline: 0;
}

.attachment-browser.hide-sidebar .attachment,
.attachment-browser.hide-sidebar .uploader-inline {
  right: 0;
  margin-right: 0;
}

.zp-core-ui .attachment-list {
  position: relative;
  float: left;
  padding: 8px;
  margin: 0;
  color: #444;
  cursor: pointer;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 25%;
  box-sizing: border-box;
}

.zp-core-ui .attachment {
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.media-frame-content[data-columns="11"] .attachment-list {
  width: 9.09%;
}

.media-frame-content[data-columns="10"] .attachment-list {
  width: 10%;
}

.zp-core-ui .attachment-preview {
  position: relative;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  background: #eee;
  cursor: pointer;
}

.zp-core-ui .attachment-preview:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.zp-core-ui .attachment .thumbnail {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.zp-core-ui .attachment .thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.zp-core-ui .attachment .thumbnail .centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.zp-core-ui .attachment .thumbnail .centered img,
.zp-core-ui .attachment .thumbnail .centered i {
  left: 0;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.zp-core-ui .attachment .thumbnail img,
.zp-core-ui .attachment .thumbnail i {
  position: absolute;
}

.zp-core-ui .attachment .landscape img,
.zp-core-ui .attachment .landscape i {
  max-height: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.zp-core-ui .attachment .filename {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  max-height: 100%;
  word-wrap: break-word;
  text-align: center;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.zp-core-ui .attachment .filename div {
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  word-break: break-word;
}

.no-media-wrap {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 20% 0;
}

.no-media-wrap .no-media {
  color: #828282;
  font-size: 18px;
}

/**frame-modal*/

.modal.media-model * {
  box-sizing: content-box;
}

.modal.fade .modal-dialog.media-dialog {
  max-width: 100%;
  position: static;
  -webkit-transform: none;
  transform: none;
}

.modal.media-model {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  z-index: 160000;
  width: auto;
  height: auto;
}

.modal .edit-attachment-frame {
  display: block;
  height: 100%;
  width: 100%;
}

.modal .edit-attachment-frame .media-frame-title {
  left: 0;
  right: 0;
}

.media-model label,
.media-model legend {
  font-size: 13px;
}

.edit-media-header {
  overflow: hidden;
}

.media-frame-title {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  height: 50px;
  z-index: 200;
}

.media-frame-title h1 {
  padding: 0 16px;
  font-size: 22px;
  line-height: 50px;
  margin: 0;
}

.media-frame-content {
  position: absolute;
  top: 84px;
  left: 200px;
  right: 0;
  bottom: 61px;
  height: auto;
  width: auto;
  margin: 0;
  overflow: auto;
  background: #fff;
  border-top: 1px solid #ddd;
}

.edit-attachment-frame .media-frame-content,
.edit-attachment-frame .media-frame-router {
  left: 0;
}

.edit-attachment-frame .media-frame-content {
  border-bottom: none;
  bottom: 0;
  top: 50px;
}

.edit-attachment-frame .attachment-details {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.1);
}

.edit-attachment-frame .attachment-media-view {
  float: left;
  width: 65%;
  height: 100%;
}

.edit-attachment-frame .attachment-media-view .thumbnail {
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
}

.edit-attachment-frame .attachment-media-view .details-image {
  display: block;
  margin: 0 auto 16px;
  max-width: 100%;
  max-height: 90%;
  max-height: calc(100% - 42px);
  background-image: linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.edit-attachment-frame .attachment-info {
  overflow: auto;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 12px 16px 0;
  width: 35%;
  height: 100%;
  box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  border-left: 1px solid #ddd;
  background: #f3f3f3;
}

.edit-attachment-frame .attachment-info .details,
.edit-attachment-frame .attachment-info .settings {
  position: relative;
  overflow: hidden;
  float: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.edit-attachment-frame .attachment-info .filename {
  font-weight: 400;
  color: #666;
}

.edit-attachment-frame input,
.edit-attachment-frame textarea {
  padding: 6px 8px;
  line-height: 16px;
}

.attachment-details {
  position: relative;
  overflow: auto;
}

.attachment-details .setting,
.media-sidebar .setting {
  display: block;
  float: left;
  width: 100%;
  margin: 1px 0;
}

.attachment-details .setting .value,
.attachment-details .setting input[type=email],
.attachment-details .setting input[type=number],
.attachment-details .setting input[type=password],
.attachment-details .setting input[type=search],
.attachment-details .setting input[type=text],
.attachment-details .setting input[type=url],
.attachment-details .setting input[type=tel],
.attachment-details .setting textarea,
.attachment-details .setting + .description,
.media-sidebar .setting .value,
.media-sidebar .setting input[type=email],
.media-sidebar .setting input[type=number],
.media-sidebar .setting input[type=password],
.media-sidebar .setting input[type=search],
.media-sidebar .setting input[type=text],
.media-sidebar .setting input[type=url],
.media-sidebar .setting input[type=tel],
.media-sidebar .setting textarea,
.media-sidebar .setting + .description {
  box-sizing: border-box;
  margin: 1px;
  width: 65%;
  float: right;
}

.attachment-details .setting span,
.media-sidebar .setting span {
  min-width: 30%;
  margin-right: 4%;
  font-size: 12px;
  text-align: right;
  word-wrap: break-word;
}

.attachment-details .setting .value,
.attachment-details .setting + .description,
.attachment-details .setting .value,
.media-sidebar .setting .value,
.media-sidebar .setting + .description,
.media-sidebar .setting .value {
  margin: 0 1px;
  text-align: left;
}

.attachment-details .setting .input-group,
.media-sidebar .setting .input-group {
  width: 65%;
}

.attachment-details .setting .input-group input[type=email],
.attachment-details .setting .input-group input[type=number],
.attachment-details .setting .input-group input[type=password],
.attachment-details .setting .input-group input[type=search],
.attachment-details .setting .input-group input[type=text],
.attachment-details .setting .input-group input[type=url],
.attachment-details .setting .input-group input[type=tel],
.attachment-details .setting .input-group textarea,
.media-sidebar .setting .input-group input[type=email],
.media-sidebar .setting .input-group input[type=number],
.media-sidebar .setting .input-group input[type=password],
.media-sidebar .setting .input-group input[type=search],
.media-sidebar .setting .input-group input[type=text],
.media-sidebar .setting .input-group input[type=url],
.media-sidebar .setting .input-group input[type=tel],
.media-sidebar .setting .input-group textarea {
  margin: 0;
}

.attachment-details .setting .input-group textarea,
.media-sidebar .setting .input-group textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 163px;
  resize: none;
}

.attachment-details .setting span,
.attachment-details label span,
.compat-item .setting span,
.compat-item label span,
.media-sidebar .setting span,
.media-sidebar label span {
  float: left;
  min-height: 22px;
  padding-top: 8px;
  line-height: 16px;
  font-weight: 400;
  color: #666;
}

.media-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 267px;
  padding: 0 16px 24px;
  z-index: 75;
  background: #f3f3f3;
  border-left: 1px solid #ddd;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.media-uploader-status {
  position: relative;
  margin: 0 auto;
  padding-bottom: 10px;
  max-width: 400px;
}

.attachment-info {
  overflow: hidden;
  min-height: 60px;
  margin-bottom: 16px;
  line-height: 18px;
  color: #666;
  border-bottom: 1px solid #ddd;
  padding-bottom: 11px;
}

.attachment-info .details {
  float: left;
  font-size: 12px;
  max-width: 100%;
}

.attachment-info .filename {
  font-weight: 600;
  color: #444;
  word-wrap: break-word;
}

.edit-attachment-frame .edit-media-header .left,
.edit-attachment-frame .edit-media-header .right,
.modal-open .media-modal-close {
  cursor: pointer;
  color: #72777c;
  background-color: transparent;
  height: 50px;
  width: 50px;
  padding: 0;
  position: absolute;
  text-align: center;
  border: 0;
  border-left: 1px solid #ddd;
  -webkit-transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}

.media-modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  min-height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  background: #fcfcfc;
  -webkit-font-smoothing: subpixel-antialiased;
}

.media-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  background: 0 0;
  color: #666;
  z-index: 1000;
  cursor: pointer;
  outline: 0;
  -webkit-transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
}

.media-frame-router {
  position: absolute;
  top: 50px;
  left: 200px;
  right: 0;
  height: 36px;
  z-index: 200;
}

.media-router {
  position: relative;
  padding: 0 6px;
  margin: 0;
  clear: both;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.media-router .nav-link {
  padding: 0.3rem 1rem;
}

.media-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  padding: 0 16px;
  border: 0 solid #ddd;
  overflow: hidden;
}

.media-frame-toolbar {
  position: absolute;
  left: 200px;
  right: 0;
  bottom: 0;
  height: 60px;
  z-index: 100;
  bottom: 60px;
  height: auto;
}

.media-frame-toolbar .media-toolbar {
  top: auto;
  bottom: -45px;
  height: auto;
  overflow: visible;
  border-top: 1px solid #ddd;
}

.media-frame-toolbar .btn {
  height: 25px;
  margin-top: 6px;
}

.media-toolbar-primary {
  float: right;
  height: 100%;
}

.media-frame .uploader-inline {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.uploader-inline-content {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.uploader-inline-content .upload-ui {
  margin: 2em 0;
}

.uploader-inline-content .btn-custom {
  border: 1px solid #ccc;
  background: whitesmoke;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
}

.uploader-inline-content input[type=file] {
  width: 15%;
  margin: auto;
}

.uploader-inline h2,
.uploader-inline h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}

/**Video*/

.mejs-container {
  background: #000;
  box-sizing: border-box;
  font-family: Helvetica, Arial, serif;
  position: relative;
  text-align: left;
  text-indent: 0;
  vertical-align: top;
}

.mejs-container {
  width: 100%;
  max-width: 100%;
}

.mejs-container.zp-video-wrap {
  width: 1177px;
  height: 662.063px;
  min-width: 217px;
}

.mejs-container video {
  max-width: 100%;
}

.mejs-container,
.mejs-container .mejs-controls,
.mejs-embed,
.mejs-embed body {
  background-color: #343434;
}

/**Uploader*/

.uploader {
  text-align: center;
}

.uploader h5 {
  margin-top: 34px !important;
}

.uploader_wrap {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  top: 0;
  left: 765px;
  width: 84px;
  height: 28px;
}

.uploader_wrap input#upload_file,
.uploader_wrap input#file_name,
.uploader_wrap input#diagnosis,
.uploader_wrap input#diagnosis_show {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

label#label_file_upload,
label.lbl_upload {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}

label#label_file_upload:active,
label.lbl_upload:active {
  background: #eee;
  border-color: #999;
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

label#label_file_upload:hover,
label.lbl_upload:hover {
  background: #fafafa;
  border-color: #999;
  color: #23282d;
}

label#label_file_upload:focus,
label.lbl_upload:focus {
  border-color: #5b9dd9;
  box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
}

#label_file_upload,
.lbl_upload {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
}

/*--------------------------------------------------------------
## Admin Register User
--------------------------------------------------------------*/

/**Register*/

.signin-container {
  border-radius: 2px;
  position: relative;
  z-index: 999;
  display: block;
  margin: 20px 0px;
  box-shadow: 2px 3px 5px #d8d8d8;
  border-top: 2px solid #53cac1;
}

.signin-container .sigin-info {
  background: #555;
  display: block;
  overflow: hidden;
  padding: 20px 30px;
  text-align: center;
}

.signin-container .signin-form {
  background: #fff;
  position: relative;
  padding: 30px;
  display: block;
}

.signin-container .signin-form label {
  font-size: 15px;
  color: #777;
  line-height: 1.4;
}

.signin-container .signin-form .zp-bg-clan {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.signin-container .signin-text {
  color: #777;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 6px;
}

.signin-container .signin-text span.signin-v {
  color: #353535;
  font-size: 16px;
  font-style: italic;
}

.admin-register .sigin-info,
.admin-reset .sigin-info {
  background: rgba(54, 197, 187, 0.8);
}

.admin-register .sigin-info .slogan,
.admin-reset .sigin-info .slogan {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
}

.admin-register .sigin-info ul,
.admin-reset .sigin-info ul {
  display: none;
}

.admin-register .signin-text,
.admin-reset .signin-text {
  color: #777;
  display: block;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
}

.admin-register .signin-text:before,
.admin-reset .signin-text:before {
  background: #e4e4e4;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.admin-register .signin-text span,
.admin-reset .signin-text span {
  background: #fff;
  display: inline-block;
  padding: 0 20px;
  position: relative;
}

/* Login */

.zp-video-admin .login-container {
  border-radius: 2px;
  display: block;
  margin: 20px 14px;
  position: relative;
  z-index: 999;
  box-shadow: 2px 3px 5px #d8d8d8;
}

.zp-video-admin .login-header {
  background: #5bcec6;
  display: block;
  overflow: hidden;
  padding: 20px 30px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.zp-video-admin .login-header img {
  margin-bottom: 15px;
}

.zp-video-admin .login-form {
  background: #fff;
  display: block;
  padding: 30px 20px;
  position: relative;
}

.zp-video-admin .login-form label {
  font-size: 15px;
  color: #777;
  line-height: 1.4;
}

.zp-video-admin .login-text {
  color: #777;
  display: block;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
}

.zp-video-admin .login-text:before {
  background: #e4e4e4;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}

.zp-video-admin .login-text span {
  background: #fff;
  display: inline-block;
  padding: 0 20px;
  position: relative;
}

@media (min-width: 480px) {
  .zp-video-admin .login-container {
    width: 380px;
    margin: 80px auto;
  }

  .zp-video-admin .login-form {
    padding: 30px;
  }
}

/* Media Query */

@media (min-width: 769px) {
  /**admin-navbar*/

  .navbar-expand-md .zp-navbar-show {
    display: none;
  }

  /**signin*/

  .signin-container {
    width: 430px;
    display: table;
    table-layout: fixed;
    margin: 20px 0;
  }

  .signin-container .sigin-info {
    display: table-cell;
    padding: 30px;
    text-align: left;
    vertical-align: top;
    width: 40%;
  }

  .signin-container .sigin-info ul {
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 0;
  }

  .signin-container .sigin-info ul li {
    list-style: none;
    margin: 0;
    padding: 7px 0;
  }

  .signin-container .signin-form {
    display: table-cell;
    vertical-align: top;
    width: 60%;
  }
}

@media (max-width: 768px) {
  #zp-admin-menu-bg,
  #zp-admin-menu-wrap {
    width: 100%;
  }

  #zp_content_wrap,
  #zp_footer_wrap {
    margin-left: 0;
  }

  #zp_content_wrap {
    /**wrapper*/
  }

  #zp_content_wrap .zp-primary-site {
    padding-left: 0;
  }

  #zp_content_wrap .zp-primary-wrap {
    margin-right: 0;
    margin-left: 0;
  }

  #zp_nav {
    opacity: 0;
    margin-left: -999px;
    position: relative;
    z-index: 100;
  }

  .zp-nav-closed {
    display: block;
  }

  .sticky-menu #zp-admin-menu-wrap {
    height: 100%;
    overflow-y: scroll;
  }

  /**Profile-employee*/

  .employee_wrap {
    width: 135px;
  }

  .panel.employee-photo {
    min-height: 100%;
  }

  .med-name {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .edit-attachment-frame .attachment-media-view {
    float: none;
    height: auto;
    width: 100%;
  }

  .edit-attachment-frame .attachment-info {
    height: auto;
    width: 100%;
  }
}

