.zp-video-admin{
	height: auto;
	min-height: 100%;
	position: relative;
	width: 100%;
}
#zp_content_wrap{
	height: 100%;
	.zp-primary-site{
		padding-left: 20px;
	}
	.zp-primary-wrap{
		margin:10px 20px 0 2px;
	}
}
#zp_content_wrap,#zp_footer_wrap{
	margin-left: 240px;
}

//heading
.heading-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 24px;
}